
*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.swp

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.meta
*.index
*.ckpt*

.ipynb_checkpoints
*.log
*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
dist
build
build/*
.idea
params
*/data/*
.vscode
